<div class = "navbar navbar-inverse navigation" id="nav">
	<div class = "container">
		<div class = "navbar-header">
			<a href= "<%= root_path %>" class = "navbar-brand home-link" style="color: white;">KwikNews</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class=""><a href = "/news/top" style="color: white;">Top</a></li>
				<li><a href = "/news/us_and_canada" style="color: white;">U.S. &amp; Canada</a></li>
				<li><a href = "/news/world" style="color: white;">World</a></li>
				<li><a href = "/news/politics" style="color: white;">Politics</a></li>
				<li><a href = "/news/tech" style="color: white;">Tech</a></li>
				<li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: white;">More <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/news/business">Business</a></li>
                        <li><a href="/news/entertainment">Entertainment</a></li>
                        <li><a href="/news/science">Science</a></li>
                        <li><a href="/news/sports">Sports</a></li>
                      </ul>
                    </li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
    $('.nav li a').on('click', function() {
	    $(this).parent().parent().find('.active').removeClass('active');
	    $(this).parent().addClass('active');
	});
</script>
